
name : Publish


on :
    workflow_dispatch :
    push :
        branches : [ Stable ]


jobs :
    publish :

        runs-on : ubuntu-latest

        permissions :

            id-token : write
            contents : read

        steps :

            -   name : Checkout Repository
                uses : actions/checkout@v4

            -   name : Publish To JSR
                run : npx jsr publish --config jsr.json
